/* Fixed bottom position for site description on login page */
.pagelayout-login.loginright .login-description-container {
    bottom: 0;
    background: linear-gradient(#fff0, #000000b8);
}

.pagelayout-login.loginright .login-description {
    position: absolute;
    bottom: 10%;
    padding-right: 5rem;
}

/*解决课程注册页面的视频显示尺寸*/
/* Default styles for screens larger than 1200px (laptops and desktops) */
#page-enrol-index .enrollment-sections .video-container .videoframe {
    min-height: 460px;
}

/* Media Query for iPads (768px to 1024px) */
@media (min-width: 768px) and (max-width: 1024px) {
    #page-enrol-index .enrollment-sections .video-container .videoframe {
        min-height: 240px; /* Adjust the height for iPads */
    }
}

/* Media Query for iPhones (up to 767px) */
@media (max-width: 767px) {
    #page-enrol-index .enrollment-sections .video-container .videoframe {
        min-height: 200px; /* Adjust the height for iPhones */
    }
}

/* Remove 'switch to standard theme' link for mobile devices on Moodle */
#theme_switch_link {
    display: none;
}

/* hide section number in card layout in the remuiformat */
body#page-course-view-remuiformat
    .remui-format-card.single-section-format
    .sections
    .section
    .section-details
    .general-single-card
    .header-progresbar-wrapper
    .section-title
    span.sno {
    display: none !important;
}

/* hide Course information/details in the remuiformat */
body#page-course-view-remuiformat
    .course-content
    .sections
    #section-0
    .general-section
    .section-details
    .coursedetails
    .details {
    display: none !important;
}

/* remove course start date from Course cards */
#course-archive-main-container .edw-course-card-grid .date,
.profile-cards-wrapper .edw-course-card-grid .date {
    display: none;
}

/* remove the floating help icon (?) in Moodle 4.0 */
/* .btn-floating[data-action="footer-popover"] { */
/*     display: none !important; */
/* } */

/* remove activity title from activity page for card layout in remuiformat */

body#page-course-view-remuiformat .activity .activitytitle .media-body > :first-child {
    display: none;
}

/* customize the text color of the section name in Card Layout */
body#page-course-view-remuiformat .remui-format-card.all-section-format .section .sectionname {
    color: #5c71cc !important;
}
body#page-course-view-remuiformat
    .remui-format-card.single-section-format
    .sections
    .section
    .section-details
    .general-single-card
    .header-progresbar-wrapper
    .section-title {
    color: #5c71cc !important;
}

body#page-course-view-remuiformat .card-section-rightnav,
body#page-course-view-remuiformat .card-section-leftnav {
    background-color: #5071cc !important;
}
/* modify icon size */
body#page-course-view-remuiformat .activityiconcontainer {
    height: 80px;
    width: 80px;
}

body#page-course-view-remuiformat li.activity img.activityicon {
    height: 32px !important;
    width: 32px !important;
}

/* matching color with levelups for my-progress widget */
.progress-bar.bg-success {
    background-color: #4ade80 !important;
}

/*trail format fix */
#trailshadebox_content ul.gtopics {
    margin: 20px 15px 20px;
}

#trailshadebox_content.absolute {
    z-index: 6;
}

#trailiconcontainer #star,
#trailiconcontainer #check,
#trailiconcontainer #like {
    z-index: 0;
}
/* fix style conflict for block_xp within multiblock */
.multiblock .block_xp .block_xp-level {
    margin-left: auto;
    margin-right: auto;
}

.multiblock .block_xp .block_xp-heading {
    margin-bottom: 1rem;
    border-width: 0;
    border-bottom-width: 1px;
    border-style: solid;
    border-color: #e5e7eb;
    font-size: 0.75rem;
    line-height: 1rem;
    text-transform: uppercase;
    letter-spacing: 0em;
    color: #4b5563;
}

.multiblock .block_xp nav {
    text-align: center;
    align-content: stretch;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    border-width: 0;
    border-top-width: 1px;
    border-style: solid;
    border-color: #e5e7eb;
}

.multiblock .block_xp nav .nav-button {
    flex: 1 1 0%;
    align-self: auto;
    text-decoration: none;
    color: #333;
    font-size: 80%;
    padding: 5px 5px 0;
}

.multiblock .block_xp nav .nav-button .icon {
    margin: 0;
    padding: 0;
}

/* reduce random glossary entry font size */
.block_glossary_random h3 {
    font-size: 1.1rem;
}
/* hide license alert message'*/
.alert.text-center.license-notice.alert-dismissible.site-announcement.mb-0.alert-danger {
    display: none;
}

/* modify multiblock nav tab background color */
.multiblock .nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
    color: #ffffff;
    background-color: #3a53b9 !important;
}

.multiblock.multiblock-accordion a.btn.btn-link {
    background-color: transparent;
}

.multiblock .nav-link {
    padding: 0.5rem 2.5rem;
}
