/* Fixed bottom position for site description on login page */
.pagelayout-login.loginright .login-description-container {
    bottom: 0;
    background: linear-gradient(#fff0, #000000b8);
}

.pagelayout-login.loginright .login-description {
    position: absolute;
    bottom: 10%;
    padding-right: 5rem;
}

/*解决课程注册页面的视频显示尺寸*/
/* Default styles for screens larger than 1200px (laptops and desktops) */
#page-enrol-index .enrollment-sections .video-container .videoframe {
    min-height: 460px;
}

/* Media Query for iPads (768px to 1024px) */
@media (min-width: 768px) and (max-width: 1024px) {
    #page-enrol-index .enrollment-sections .video-container .videoframe {
        min-height: 240px; /* Adjust the height for iPads */
    }
}

/* Media Query for iPhones (up to 767px) */
@media (max-width: 767px) {
    #page-enrol-index .enrollment-sections .video-container .videoframe {
        min-height: 200px; /* Adjust the height for iPhones */
    }
}

/* Remove 'switch to standard theme' link for mobile devices on Moodle */
#theme_switch_link {
    display: none;
}

/* hide section number in card layout in the remuiformat */
body#page-course-view-remuiformat
    .remui-format-card.single-section-format
    .sections
    .section
    .section-details
    .general-single-card
    .header-progresbar-wrapper
    .section-title
    span.sno {
    display: none !important;
}

/* hide Course information/details in the remuiformat */
body#page-course-view-remuiformat
    .course-content
    .sections
    #section-0
    .general-section
    .section-details
    .coursedetails
    .details {
    display: none !important;
}

/* remove course start date from Course cards */
#course-archive-main-container .edw-course-card-grid .date,
.profile-cards-wrapper .edw-course-card-grid .date {
    display: none;
}

/* remove the floating help icon (?) in Moodle 4.0 */
/* .btn-floating[data-action="footer-popover"] { */
/*     display: none !important; */
/* } */

/* remove activity title from activity page for card layout in remuiformat */

body#page-course-view-remuiformat .activity .activitytitle .media-body > :first-child {
    display: none;
}

/* customize the text color of the section name in Card Layout */
body#page-course-view-remuiformat .remui-format-card.all-section-format .section .sectionname {
    color: blue !important;
}
body#page-course-view-remuiformat
    .remui-format-card.single-section-format
    .sections
    .section
    .section-details
    .general-single-card
    .header-progresbar-wrapper
    .section-title {
    color: blue !important;
}

#trailshadebox_content ul.gtopics {
    margin: 20px 15px 20px;
}

#trailshadebox_content.absolute {
    z-index: 6;
}

#trailiconcontainer #star,
#trailiconcontainer #check,
#trailiconcontainer #like {
    z-index: 0;
}
