{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
    GNU General Public License for more details.

    Edwiser RemUI
    @package theme_remui
    @copyright (c) 2023 WisdmLabs (https://wisdmlabs.com/)
    @license http://www.gnu.org/copyleft/gpl.html GNU GPL v3 or later

}}
{{!
    @template theme_remui/edw_course_header1

    This template renders the header.

    Example context (json):
    {
        "contextheader": "context_header_html",
        "settingsmenu": "settings_html",
        "hasnavbar": false,
        "navbar": "navbar_if_available",
        "courseheader": "course_header_html",
        "welcomemessage": "welcomemessage"
    }
}}
{{#pageheadingbutton}}
<div class="d-flex reset-pagebutton-wrapper">
         {{{pageheadingbutton}}}
</div>
{{/pageheadingbutton}}
<header{{!
}} id="page-header"{{!
}} class="header-maxwidth d-print-none {{classes}}"{{!
}} style="background: linear-gradient(180deg, rgba(255, 255, 255, 0) -24.52%, #000000 97.67%), url({{courseimage}});background-position: center; background-size:cover;background-repeat: no-repeat;">
    <div class="w-100 header-wrapper">
        <div class="d-flex flex-wrap">
            {{#hasnavbar}}
            <div id="page-navbar">
                {{{navbar}}}
            </div>
            {{/hasnavbar}}
            {{#courseheader}}
            <div id="course-header">
                {{{courseheader}}}
            </div>
            {{/courseheader}}
        </div>
        <div class="d-flex align-items-center">
            <div class="dashboard-bar-wrapper">
                <div class="header-main-section">
                    {{#categoryname}}
                    <div class="category">
                        <span class="badge p-p-1 small-info-regular">
                            {{{categoryname}}}
                        </span>
                    </div>
                    {{/categoryname}}
                    {{^welcomemessage}}
                        {{#contextheader}}
                            {{{contextheader}}}
                        {{/contextheader}}
                    {{/welcomemessage}}
                    {{> core/welcome }}
                </div>
                <div class="header-sub-section">
                    {{#rnrdesign}}
                    <div class="edw-ratings-wrapper">
                        {{{rnrdesign}}}
                    </div>
                    {{/rnrdesign}}
                    {{#teachers}}
                    <div class="instructor-info stat-container">
                        <span class="titles h-semibold-6">
                            {{#instructors}}{{!
                            }}{{#hasanother}},&nbsp;{{/hasanother}}{{name}}{{!
                            }}{{/instructors}}
                        </span>
                        {{#teachercount}}
                        <span class="stat">
                            <b class="count"> +{{teachercount}}</b>
                        </span>
                        {{/teachercount}}
                    </div>
                    {{/teachers}}
                </div>
            </div>
            <div class="header-actions-container " data-region="header-actions-container">
                {{#headeractions}}
                    <div class="header-action ">{{{.}}}</div>
                {{/headeractions}}
            </div>
        </div>
    </div>
</header>
